

              <ul class="breadcrumb push-down-0" >
                <li><a href="#">Home</a></li>
                <li><a href="#">Report</a></li>
                <li class="active">Circular</li>
              </ul>


              <!-- START CONTENT FRAME TOP -->
              <div class="page-title">                    
                <h2><span class="fa fa-paste" aria-hidden="true"></span>Circular</h2>
              </div>                           



              <div style="margin: 5%; width: 100%% ; padding-top: 130px">

                <table BORDER="2" style="border-color: #1caf9a; width: 100%" ng-controller="Admin_CircularController" >
                  <tr  style="background-color: #1caf9a; ">

                    <td >
                     <div class="col-sm-4"><h2 style="color: white">Circular</h2></div>
                     <input type="search" class="col-sm-2" name="search" style="float: right;">
                     <div class="col-sm-3">
                      <select class="combobox form-control" id="Exam_schedule"   data-ng-model="Select_class.Class_Id" ng-options="obj.Class_Id as obj.Std for obj in classlist" data-ng-change="getClassCircular()" >
                        <option value="">Select a Class</option>


                      </select>   
                    </div>


                    <button type="button"  class="btn btn-danger" data-toggle="modal" data-target="#myModal">Add Circular</button> 


                    <div class="modal" id="myModal" role="dialog" >
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Admin Circular</h4>
                          </div>
                          <div class="modal-body">
                           <div style="margin: 5%; width: 100%% ; margin-right: -20%">

                            <div class="form-group row" >
                              <label class="col-xs-2 col-form-label">Class</label>
                              <div class="form-group row">
                                <div class="col-sm-6">
                                  <select class="combobox form-control"  ng-model="Select_class.Class_Id"  id="comboClass" ng-options="obj.Class_Id as obj.Std for obj in classlist"  
                                  required="required">
                                  <option value=" " >Select a Class</option>

                                </select>{{Select_class.Class_Id}}
                              </div>
                            </div>
                          </div>


                          <div class="form-group row" >
                            <label class="col-xs-2 col-form-label">Year</label>
                            <div class="col-sm-6">
                            <!-- <select class="combobox form-control"  ng-model="select_year"  ng-options="x.Year  for x in YearList"  required="required" >
                              <option value="">Select Year</option>
                            </select>{{select_year}} -->
                            <input type="text" class="form-control" ng-model="select_year"  placeholder="Ex:-2016">
                          </div>
                        </div>
                        
                        {{select_year}}


                        <div class="form-group row">
                          <label  class="col-xs-2 col-form-label">Date</label>
                          <div class="col-xs-6">
                            <input class="form-control" type="Date"  ng-model="Date">
                          </div>
                        </div>

                        <div class="form-group row">
                          <label  class="col-xs-2 col-form-label">Submission Date</label>
                          <div class="col-xs-6">
                            <input class="form-control" type="Date"  ng-model="Submission_Date">
                          </div>
                        </div>

                        <div class="form-group row">
                          <label  class="col-xs-2 col-form-label">Assignment File</label>

                          <div class="col-xs-6">

                            <input type='file' id="fileName" name="fileName" accept="image/*" onchange="doUpload(this);" >
                            <img src='http://emeraldcitycriminaldefense.com/wp-content/themes/EmeraldCitycriminal/images/noimageavailable.gif' alt="Upload file" id="Image" name="Image" height="140" width="120" style="border-radius:20%">

                          </div>
                        </div>
                        <div>


                          <div class="form-group row">
                          </div>
                          <div class="form-group row" style="margin:10% ; padding-left: 121px" ng-controller="Admin_CircularController">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-info" data-ng-click="InsertCircular()">Submit</button >


                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>



                </td>


              </tr>
              <tr height=20%>

                <TD>
                  <TABLE class="table table-bordered" style="margin:1% ; width:98% ;border-color: #1caf9a">
                   <thead>
                    <tr  style="border-color: #1caf9a">
                      <th>S.No.</th>
                      <th>Date</th>
                      <th>Class</th>
                      <th>Submission Date</th> 
                      <th>Year</th> 
                      <th>Attachment</th>
                      <th></th>
                      <th></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="c in Circular">
                      <td>{{$index+1}}</td>
                      <td>{{c.Date|date:'yyyy-MM-dd'}}</td>
                      <td>{{c.Std}}</td>
                      <td>{{c.Submission_Date|date:'yyyy-MM-dd'}}</td>

                      <td>{{c.Year}}</td>
                      <td><a   href="http://localhost:61693/Upload/{{c.Attachment}}"  ng-click="getimageCircular(c)" data-toggle="modal" data-target="#Circular"> {{c.Attachment}} </a>   


                        <div id="Circular" class="modal "  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">  <div class="modal-dialog">

                          <div class="modal-body">
                          <button type="button" class="close" data-dismiss="modal" style="color: #1caf9a; opacity: 5;">&times;</button>
                            <img src="http://localhost:61693/Upload/{{c.Attachment}}" id="ImageCir"  class="img-responsive" style="width: 100%;height: 70% vertical-align: middle;">
                          </a>
                        </div>
                      </div>
                    </div>



                    <td>  
                     <i class="fa fa-pencil-square-o"

                     title="Edit"
                     id="btnEditCircularData" name="btnEditCircularData"
                     ng-click="editCircular(c)"
                     data-role="button"
                     data-toggle="modal"
                     data-target="#editCircularModal"></i>
                   </td>
                   <td>  
                     <i class="fa fa-trash-o" aria-hidden="true"

                     title="Delete"
                     id="btnDeleteCircular" name="btnDeleteCircular"
                     ng-click="getDeleteCircular(c)"
                     data-role="button"
                     data-toggle="modal"
                     data-target="#DeleteCircularDataModal"></i>
                   </td>

                 </tr>
               </tbody>
              </TD>

              </tr>
              </table>
              </div>

              <div class="modal" id="editCircularModal" name="Circularedit" role="dialog" >  
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                      <h4 class="modal-title">Edit Circular</h4>
                    </div>

                    <div class="modal-body">
                      <!-- <div style="margin: 5%; width: 100%% ; padding-top: 130px" data-ng-repeat="s in Detail"> -->

                        <div class="form-group row"  >
                          <label  class="col-xs-2 col-form-label">Class Id</label>
                          <div class="col-xs-6">
                            <input name="TxtClass_Id" id="TxtClass_Id" class="form-control"  type="text"  >
                          </div>
                        </div>{{es.Id}}
                        <div class="form-group row"  >
                          <label  class="col-xs-2 col-form-label">Id</label>
                          <div class="col-xs-6">
                            <input name="TxtId" id="TxtId" class="form-control"  type="text"  >
                          </div>
                        </div>

                        <div class="form-group row"  >
                          <label for="example-url-input" class="col-xs-2 col-form-label">Class</label>
                          <div class="col-xs-6">
                            <input class="form-control" name="TxtClass" id="TxtClass"   ng-model="TxtClass" type="text"  >
                          </div>{{Class}}
                        </div>

                        <div class="form-group row">
                          <label  class="col-xs-2 col-form-label">Year</label>
                          <div class="col-xs-6">
                           <input class="form-control" name="TxtYear" id="TxtYear" ng-model="Year" type="text" >
                         </div>
                       </div>
                       `
                       <div class="form-group row">
                        <label  class="col-xs-2 col-form-label">Submission Date</label>
                        <div class="col-xs-6">
                          <input class="form-control" name="TxtSubmission_Date" id="TxtSubmission_Date" ng-model="Submission_Date" type="text" >
                        </div>
                      </div>


                      <div class="form-group row" >
                        <label class="col-xs-2 col-form-label" >Date</label>
                        <div class="col-sm-6">
                          <input class="form-control" name="TxtDate" id="TxtDate" ng-model= "Date" type="text"   >
                        </div>
                      </div>

                     <div class="form-group row">
                          <label  class="col-xs-2 col-form-label">Assignment File</label>

                          <div class="col-xs-6">

                            <input type='file' id="Attachment" name="Attachment"  ng-model="Attachment" accept="image/*" onchange="doUpload(this);">
                            
                          </div>
                        </div>
                        <div>


                      <div class="form-group row" style="margin:13% ; padding-left: 123px" >
                        <button type="button" value="submit"  data-ng-click="UpdateCircular(c)"  class="btn btn-info" >Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>




              <div class="modal"  id="DeleteCircularDataModal" role="dialog" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                      <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group row" hidden>
                       <label  class="col-xs-2 col-form-label">Transport Id</label>
                       <div class="col-xs-6">
                         <input name="TxtId" id="TxtId" class="form-control"  type="text" readonly hidden>
                       </div>
                     </div>{{c.Id}}
                     <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete Record  <b></b>?</div>
                    </div>
                   <div class="modal-footer " >
                    <button type="button" class="btn btn-success" ng-click="DeleteCircular(c)"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                  </div>
                </div>
                                        <!-- /.modal-content
                                      </div>
                                     
                                    </div>


                                    <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>


