
        <ul class="breadcrumb push-down-0" >
          <li><a href="#">Home</a></li>
          <li><a href="#">Report</a></li>
          <li class="active">Add Students</li>
        </ul>


        <!-- START CONTENT FRAME TOP -->
        <div class="page-title">                    
          <h2><span class="fa fa-users"></span> Add Students</h2>
        </div>                           
   
         <div class="clearfix" ng-controller="Add_studentController">
         <br>

        <div>
          <div class="card-block" style="margin: 8%; width: 100%%; padding-top:80px; padding-left: 30px " >
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
            <div class="col-xs-6">
              <input class="form-control" type="text" data-ng-model="Name" >
            </div>
          </div>

          <div class="form-group row">
              <label for="example-text-input" class="col-xs-2 col-form-label"> Father's Name</label>
              <div class="col-xs-6">
                <input class="form-control" type="text"   data-ng-model="Father_Name">
            </div>
        </div>

        <div class="form-group row">
              <label for="example-text-input" class="col-xs-2 col-form-label"> Mother's Name</label>
              <div class="col-xs-6">
                <input class="form-control" type="text"  ng-model="Mother_Name" >
            </div>
        </div>

          <div class="form-group row" ng-controller="Add_student_classController">
          <label class="col-xs-2 col-form-label">Class</label>
          <div class="form-group row">
            <div class="col-sm-6"> 
              <select class="combobox form-control" id="comboClass"  data-ng-model="Select_class.Class_Id" ng-options="obj.Class_Id as obj.Std for obj in classlist"  required="required">
              <option value="">Select a Class</option>
                
              </select>{{Select_class.Class_Id}}
              <!-- <input class="form-control" type="text"  id="classid" ng-model="select_class.Class_Id" /> -->
              
            </div>
            </div>
          </div>
{{Select_class.Class_Id}}
          <div class="form-group row">
                <label  class="col-xs-2 col-form-label">Date of Birth</label>
                <div class="col-xs-6">
                  <input class="form-control" type="Date"   data-ng-model="Date_of_Birth">
              </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">Address</label>
            <div class="col-xs-6">
              <input class="form-control" type="textarea"    data-ng-model="Address">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-email-input" class="col-xs-2 col-form-label">Mobile number</label>
            <div class="col-xs-6">
              <input class="form-control"  type="text" maxlength="10"   onkeypress='return event.charCode >= 48 && event.charCode <= 57' data-ng-model="Mobile_number" >
            </div>
          </div>

          <div class="form-group row">
            <label for="example-email-input" class="col-xs-2 col-form-label"> Father's Mobile number</label>
            <div class="col-xs-6">
              <input class="form-control"  type="text" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  ng-model="Father_Mobile_number"  >
            </div>
          </div>

          <div class="form-group row">
            <label for="example-email-input" class="col-xs-2 col-form-label"> Mother's Mobile number</label>
            <div class="col-xs-6">
              <input class="form-control"  type="text" maxlength="10" max="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' data-ng-model="Mother_Mobile_number" >
            </div>
          </div>

          <div class="form-group row" style="margin:5% ; padding-left: 300px" data-ng-controller="Add_studentController">
            <button type="button" value="submit" class="btn btn-info" ng-click="InsertStudent(ClassId)">Submit</button>
          </div>



        </div>
        </div>


        </div>
        <!-- END CONTENT FRAME -->



        <!-- END PAGE CONTENT -->



        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>

        <!-- END TEMPLATE -->









        </div>